.main-content {
    min-width: 572px;
    min-height: 560px;
}

.day-container{
    min-height: 80px;
    min-width: 80px;
    border-color: #7b7b7b
}

.hours-label-container{
    -unity-text-align: middle-center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}